@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

/* styles/globals.css */

.rashnItems::-webkit-scrollbar {
  display: none;
}
.rashnItems {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* styles.module.css or your global CSS file */
.print-button {
  background-color: #2b3990;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}